@{
    ViewBag.Title = "Home Page";
}
@if (TempData["Alert"] != null)
{
<div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>@TempData["Alert"]</strong>
</div>
}
<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 banner-sec">
                <img src="~/Content/home_screen_background.png" width="256" height="512" alt="" />
            </div>
            <div class="col-md-6 login-sec">
                <h2 class="text-center">Upisite kod vaseg stola:</h2>
                <br />
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <div class="form-group center-block">
                        <label for="tableCodeLabel" class="text-uppercase">Kod stola:</label>
                        <br />
                        <input type="text" name="tableCodeValue" class="form-control" placeholder="">

                    </div>
                    <input type="submit" id="submitButton" />
                }
            </div>
            <div class="col-md-3 banner-sec">
               <img src="~/Content/home_screen_background.png" width="256" height="512" alt="" />
            </div>
        </div>
</section>