
@{
    ViewBag.Title = "Menu";
}

@model MurphyPubMenu.Models.MenuDataTable

<div style="margin:50px" class="container">
    <div class="row">
        <div class="col-md-2 list-group">
            <a href="#" class="list-group-item">Kafe</a>
            <a href="#" class="list-group-item">Piva</a>
            <a href="#" class="list-group-item">Vina</a>
            <a href="#" class="list-group-item">Negazirani sokovi</a>
            <a href="#" class="list-group-item">Gazirani sokovi</a>
            <a href="#" class="list-group-item">Kokteli</a>
        </div>
        <div class="col-md-10 container">
            @{ int n = 0; }
            @for (int i = 0; i < Model.MenuDataRows.Count; i++)
            {
                <div class="row">
                    @if(Model.MenuDataRows.)
                    @for(int j = n; j < n + 3; j ++)
                    <div class="col-md-4">
                        <div style="display:inline-block; vertical-align:top">
                            <img src="~/Content/Images/default_icon.png" width="128" height="128" style="display:inline-block; float:left" />
                        </div>
                        <div style="display:inline-block; margin:15px 5px 5px 5px;">
                            <p>
                                Tekst<br />More tekst<br />One more
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                    </div>
                    <div class="col-md-4">
                        <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/default_icon.png" width="128" height="128" />
                </div>
            </div>
        </div>
    </div>
</div>


